/* css */
body, html {
  margin: 0;
  padding: 0;
}

.banner {
  height: 51px;
  overflow: hidden;
}

.carousel {
  display: inline-block;
  white-space: nowrap; /* Evita el salto de línea */
  animation: carouselAnimation 60s linear infinite;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.word {
  display: inline-block;
  white-space: nowrap;
  margin-right: -4px;
  font-family: courier, arial, helvetica;
  font-size: 2em;
}

.seccion {
  height: 120vh; /* 120% de la altura de la ventana */
  background-color: #fff; /* Color de fondo blanco */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.seccion > * {
  margin: 0;
}

.column-left {
  flex: 1;
}

.column-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seccion1 {
  background-color: #FAFD5D; /* Gris claro */
  font-family: courier, arial, optima;
  
}

.column-left {font-size: 2.5em; /* Tamaño de fuente ajustado */
margin-left: 20px; /* Margen izquierdo añadido */
margin-top: -10%; /* Margen izquierdo añadido */
}

.overlay-btn {
  margin-top: 51px;
  margin-left: 81%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;

}

.overlay-btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-family: courier, arial, optima;
  font-size: 1.2em;
}

#seccion2 {
  background-color: #C7B9FF; /* Gris claro */
  display: flex;
  flex-direction: column;
}

.column-left {
  order: 1; /* Cambia el orden de aparición, ahora será primero */
}

.titulo {
  text-align: center;
  margin-top: 240px;

}

.titulo h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
        font-family: courier;

}

.titulo p {
  font-size: 1em;
      font-family: courier;

}

.column-right {
  order: 2; /* Cambia el orden de aparición, ahora será segundo */
}

.recuadro-carousel {
  margin-bottom: 50px;
  display: flex;
  overflow-x: auto; /* Permite desplazamiento horizontal si hay más recuadros */
  scrollbar-width: none; /* Oculta las barras de desplazamiento en Firefox */
  -ms-overflow-style: none; /* Oculta las barras de desplazamiento en Internet Explorer/Edge */
}

.recuadro {
  background-color: #fff; /* Color de fondo blanco para los recuadros */
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  flex: 0 0 calc(50% - 20px); /* Ocupa el 50% del ancho con un margen entre ellos */
    font-family: Sans-serif;

}

.recuadro:not(:last-child) {
  margin-right: 10px; /* Añade margen derecho a todos los recuadros excepto al último */
}

/* Añade estilos para ocultar las barras de desplazamiento en Firefox */
.recuadro-carousel::-webkit-scrollbar {
  display: none;
}

#seccion3 {
  background-color: #12A959;
  display: flex;
  justify-content: space-around;
  align-items: center;
          font-family: courier;
}

.column-left {
  flex: 1;
}

.column-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuadro-texto {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.33% - 20px); /* Divide el ancho en tres partes con margen entre ellos */
  font-family: Sans-serif;
}

.cuadro-texto:not(:last-child) {
  margin-bottom: 10px; /* Añade margen inferior a todos los cuadros excepto al último */
}

/* Añade estilos para la sección 3.1 */
#seccion3_1 {
  background-color: #E2E2E2;
  font-family: courier;

}

#seccion4 {
  background-color: white; /* white */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
        font-family: courier;
}

#seccion4 h2 {
  margin-bottom: -60px; /* Ajusta el margen inferior del título */
  margin-top: 30px;
    font-size: 4em;
}

#seccion4 p {
  margin-bottom: 0px; /* Ajusta el margen inferior del título */
  margin-top: 0px;
    font-size: 2em;
}

#seccion4 img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-top: -40px; /* Ajusta el margen superior de la imagen */
  margin-bottom: 20px;
}


#seccion5 {
  background-color: #80CAFF; /* Gris claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: courier;
}

#seccion5 h2 {
  margin-bottom: -60px; /* Ajusta el margen inferior del título */
  margin-top: 30px;
    font-size: 4em;
}

#seccion5 p {
  margin-bottom: 0px; /* Ajusta el margen inferior del título */
  margin-top: 0px;
    font-size: 2em;
}


footer {
  background-color: black;
  color: #fff;
  height: 51px;
  align-items: center;
  text-align: center;
}



hr {
  border-color: #fff;
  margin-top: 0px;
  margin-bottom: 20px;
}


.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.floating-btn a {
  display: block;
  margin-bottom: -5px; /* Space between buttons */
}

#bot1 {
  width: 105px;
  height: 105px;
}

#bot2 {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.floating-btn a img {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}


